{
  "mcpServers": {
    "MongoDB": {
      "command": "npx",
      "args": ["-y", "mongodb-mcp-server@latest", "--readOnly"],
      "env": {
        "MDB_MCP_CONNECTION_STRING": "mongodb+srv://<username>:<password>@<cluster>.mongodb.net/application-management?retryWrites=true&w=majority"
      }
    }
  }
}
